.about-text-and-img {
   display: flex;
   margin-top: 250px;
}

.about-text-section {
   margin-top: 70px;
}

.about-text-section h1 {
   font-size: 52px;
}

.about-description {
   margin: 35px 0 45px 0;
}

.about-img-section {
   display: flex;
   flex-direction: column;
   gap: 50px;
   margin-left: 100px;
}

.first-img-about {
   width: 580px;
   height: 180px;
   object-fit: cover;
   border-radius: 20px;
}

.second-img-about {
   width: 580px;
   height: 330px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}

.third-img-about {
   position: relative;
   right: 80px;
   bottom: 220px;
   width: 270px;
   height: 280px;
   object-fit: cover;
   border-radius: 20px;
   box-shadow: 20px -20px 0 var(--primary-bg-color);
}

.xp-indicator {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 180px;
   height: 140px;
   margin: -405px 0 0 165px;
   background: linear-gradient(
      160deg,
      rgb(28 12 51) 59%,
      rgba(56, 18, 109, 1) 91%
   );
   border-radius: 15px;
   box-shadow: -20px -10px 10px #000000c2;
}

.all-years {
   display: flex;
   flex-direction: column;
   font-size: 64px;
   font-weight: 500;
   line-height: 1;
}

.time-marker {
   font-size: 36px;
}
