.about-text-and-img {
   display: flex;
   margin-top: 200px;
}

.about-text-section {
   width: 50%;
   margin-top: 70px;
}

.about-description {
   margin: 35px 0 45px 0;
}

.about-img-section {
   display: flex;
   flex-direction: column;
   gap: 50px;
   width: 50%;
   margin-left: 100px;
}

.first-img-about {
   width: 100%;
   height: 180px;
   object-fit: cover;
   border-radius: 20px;
}

.second-img-about {
   width: 100%;
   height: 330px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}

.third-img-about {
   position: relative;
   right: 80px;
   bottom: 220px;
   width: 270px;
   height: 280px;
   object-fit: cover;
   border-radius: 20px;
   box-shadow: 20px -20px 0 var(--primary-bg-color);
}

.exp-indicator-container {
   position: relative;
   margin: -405px 0 0 165px;
}

/******     MEDIA QUERIES     ******/

@media (width <= 1024px) {
   .about-text-and-img {
      margin-top: 150px;
   }

   .about-text-section {
      width: 60%;
      margin-top: 50px;
      text-align: center;
   }

   .about-img-section {
      width: 40%;
      margin-left: 50px;
   }

   .third-img-about {
      display: none;
   }

   .exp-indicator-container {
      margin: -100px 0 0 50px;
   }
}

@media (width <= 768px) {
   .about-text-and-img {
      flex-direction: column-reverse;
      margin-top: 60px;
   }

   .about-text-section {
      width: 100%;
   }

   .about-description {
      margin: 20px 0 45px 0;
   }

   .about-img-section {
      align-items: center;
      gap: 20px;
      width: 100%;
      margin-left: 0;
   }

   .first-img-about {
      border-radius: 10px;
   }

   .second-img-about {
      border-radius: 10px;
      height: 200px;
   }

   .exp-indicator-container {
      margin: -63px 0 0 0;
   }
}
