.all-help-card {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(2, 1fr);
   gap: 20px;
   margin-top: 55px;
   /* pour media : wdth de la WorkCard 435px  */
}

.help-shadow-container {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 200px;
}
