.logo-container {
   display: grid;
   place-items: center;
   width: 50px;
   height: 50px;
   background-color: #251c31;
   border-radius: 50%;
}

.logo-container img {
   width: 60%;
}

/******     MEDIA QUERIES     ******/

@media (width <= 768px) {
   .logo-container {
      width: 40px;
      height: 40px;
   }
}
