.project-article {
   display: flex;
}

.project-date-and-name {
   line-height: 1.3;
   margin-bottom: 25px;
}

.project-date {
   font-size: 1rem;
   font-weight: 600;
   color: var(--secondary-body-color);
}

.project-name {
   display: flex;
   font-size: 2.12rem;
   font-weight: 500;
}

.project-link {
   display: flex;
   align-items: center;
   margin: 0 10px;
   font-size: 1.56rem;
   color: var(--first-body-color);
   animation: link-icon 2s ease-in-out infinite;
}

.project-link:hover {
   animation: none;
}

.project-technos {
   display: flex;
   gap: 25px;
   margin-top: 40px;
   padding: 0 20px;
}

.project-shadow-and-image {
   position: relative;
   z-index: -1;
   right: 80px;
   bottom: 30px;
}

.project-shadows-container {
   position: relative;
   right: 185px;
   bottom: 175px;
   display: flex;
   gap: 210px;
}

/*****   All this code under is only work if indexIsEven he's false   ****/
.project-article-odd {
   display: flex;
   flex-direction: row-reverse;
}

.project-article-odd section:first-of-type {
   position: relative;
   right: 80px;
}

.project-article-odd .project-date-and-name {
   text-align: right;
}

.project-article-odd .project-name {
   flex-direction: row-reverse;
}

.project-article-odd .project-technos {
   justify-content: end;
}

.project-article-odd .project-shadow-and-image {
   right: 0;
}

.project-article-odd .image-card-container {
   justify-content: start;
}

.project-article-odd .image-card-container img {
   border-radius: 0 15px 0 10px;
}

/******     MEDIA QUERIES     ******/

@media (width <= 1024px) {
   .project-article,
   .project-article-odd {
      flex-direction: column-reverse;
   }

   .project-name {
      font-size: 2rem;
   }

   .project-shadow-and-image {
      right: 0;
      margin: 0 auto;
   }

   .project-article-odd section:first-of-type {
      right: 0;
   }
}

@media (width <= 768px) {
   .project-date-and-name {
      margin-bottom: 20px;
   }

   .project-name {
      font-size: 1.5rem;
   }

   .project-technos {
      gap: 15px;
      margin-top: 20px;
   }

   .project-shadows-container {
      right: 30px;
      bottom: 55px;
      gap: 50px;
   }
}

/*****     ANIMATIONS     *****/

@keyframes link-icon {
   0% {
      transform: translateY(0) scale(1);
   }
   10% {
      transform: translateY(-2px) scale(1.2);
   }
   20% {
      transform: translateY(0) scale(1);
   }
   60% {
      transform: translateY(0) scale(1);
   }
   80% {
      transform: translateY(0) scale(1);
   }
   100% {
      transform: translateY(0) scale(1);
   }
}
