.project-article {
   display: flex;
}

.project-date-name {
   line-height: 1.3;
   margin-bottom: 25px;
}

.project-date {
   font-size: 16px;
   font-weight: 600;
   color: var(--secondary-body-color);
}

.project-name {
   font-size: 34px;
   font-weight: 500;
}

.project-technos {
   display: flex;
   gap: 25px;
   margin-top: 40px;
   padding: 0 20px;
}

.project-shadow-image {
   position: relative;
   z-index: -1;
   right: 80px;
   bottom: 30px;
}

.project-shadows-container {
   position: relative;
   right: 185px;
   bottom: 175px;
   display: flex;
   gap: 210px;
}

/* style a ajouter pour pouvoir reverse sur le projet paire  */
/* .project-article-even {
   flex-direction: row-reverse;
}
.project-title-even {
   text-align: right;
}
.project-techno-even {
   flex-direction: row-reverse;
}
.image-and-shadow-even {
   right: 0; 
}*/
