.btn {
   position: relative;
   padding: 10px 30px;
   font-family: var(--first-font-family);
   font-size: 0.7rem;
   font-weight: 500;
   color: var(--first-body-color);
   letter-spacing: 1px;
   text-align: center;
   background: linear-gradient(
      to right,
      rgba(var(--btn-bg-color), 0.1) 1%,
      transparent 40%,
      transparent 60%,
      rgba(var(--btn-bg-color), 0.1) 100%
   );
   border: 2px solid var(--border-color);
   border-radius: 10px;
   box-shadow: inset 0 0 10px rgba(var(--btn-bg-color), 0.4),
      0 0 9px 3px rgba(var(--btn-bg-color), 0.1);
   overflow: hidden;
   cursor: pointer;
   transition: all 0.3s;
}

.btn:hover {
   box-shadow: inset 0 0 10px rgba(var(--btn-bg-color), 0.6),
      0 0 9px 3px rgba(var(--btn-bg-color), 0.2);
}

.btn:before {
   content: "";
   position: absolute;
   top: 0;
   left: -64px;
   width: 64px;
   height: 100%;
   background: linear-gradient(
      to right,
      transparent 1%,
      rgba(var(--btn-bg-color), 0.1) 40%,
      rgba(var(--btn-bg-color), 0.1) 60%,
      transparent 100%
   );
   transition: transform 0.5s ease-in-out;
}

.btn:hover:before {
   transform: translateX(300px);
}

.btn-about {
   padding: 15px 45px;
   font-size: 0.95rem;
}

/******     MEDIA QUERIES     ******/

@media (width <= 768px) {
   .btn {
      padding: 8px 15px;
      font-size: 0.6rem;
      border: 1px solid var(--border-color);
   }

   .btn-about {
      padding: 10px 25px;
      font-size: 0.8rem;
   }
}
