canvas {
   position: relative;
   z-index: -2;
   width: 360px;
   height: 300px;
   border-radius: 0% 0% 33% 33% / 0% 0% 100% 100%;
}

/******     MEDIA QUERIES     ******/

@media (width <= 768px) {
   canvas {
      width: 250px;
      height: 250px;
   }
}
