header {
   background-color: var(--secondary-bg-color);
}

.header-section {
   display: flex;
   justify-content: space-between;
   max-width: 1225px;
   height: 90px;
   margin: 0 auto;
   padding: 0 45px;
}

.header-img-container {
   display: flex;
   align-items: center;
}

.header-img-container img {
   width: 120px;
}

.header-link-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 48%;
}

.current-page {
   text-decoration: underline;
}

.header-link {
   font-size: 1.25rem;
   font-weight: 400;
   color: var(--primary-font-color);
}

.header-link:hover {
   text-decoration: underline;
}

/******     MEDIA QUERIES     ******/

@media (width <= 768px) {
   .header-section {
      height: 75px;
      padding: 0 15px;
   }

   .header-img-container img {
      width: 80px;
   }

   .header-link-container {
      justify-content: initial;
      gap: 15px;
      width: initial;
   }

   .header-link {
      font-size: 0.9rem;
   }
}
