header {
   background-color: var(--secondary-bg-color);
}

.header-section {
   display: flex;
   justify-content: space-between;
   max-width: 1225px;
   height: 90px;
   margin: 0 auto;
   padding: 0 45px;
}

.header-img-container {
   display: flex;
   align-items: center;
}

.header-img-container img {
   width: 120px;
}

.header-link-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 48%;
}

.current-page {
   text-decoration: underline;
}

.header-link {
   font-family: var(--secondary-font-family);
   font-size: 20px;
   font-weight: 500;
   color: var(--primary-font-color);
}

.header-link:hover {
   text-decoration: underline;
}
