footer {
   max-width: 1225px;
   margin: 250px auto 80px auto;
}

.footer-title {
   font-family: var(--secondary-font-family);
   font-size: 2.06rem;
   font-weight: 500;
}

.footer-text {
   display: flex;
   flex-direction: column;
   gap: 50px;
   margin: 90px 0 60px 0;
   width: 70%;
}

.contact-container {
   display: flex;
   gap: 30px;
}

.contact-container i {
   font-size: 1.56rem;
   color: #fff;
}
