.title-and-skills {
   text-align: center;
}

.title-and-skills h4 {
   font-size: 1.5rem;
   font-weight: 500;
}

.all-skills {
   display: flex;
   justify-content: center;
   gap: 15px;
   margin-top: 40px;
   box-shadow: 0px 13px 15px var(--primary-bg-color);
}

.saturn {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo-and-two-rings {
   position: relative;
   bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sv-container {
   position: relative;
   bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 180px;
   height: 180px;
   border-radius: 50%;
   background: linear-gradient(
      0deg,
      rgba(120, 64, 173, 1) 0%,
      var(--secondary-bg-color) 50%
   );
}

.sv-container img {
   width: 70%;
}

.saturn .purple-shadow-container {
   width: 600px;
   height: 280px;
}

/******     MEDIA QUERIES     ******/

@media (width <= 768px) {
   .title-and-skills h4 {
      font-size: 1.2rem;
   }

   .all-skills {
      gap: 10px;
   }

   .logo-and-two-rings {
      bottom: 20px;
   }

   .sv-container {
      width: 130px;
      height: 130px;
   }

   .sv-container img {
      width: 70%;
   }

   .saturn .purple-shadow-container {
      width: 300px;
      height: 200px;
   }
}
