.perso-and-pro-section {
   width: 100%;
}

.professional-intro-section {
   font-size: 22px;
}

.professional-intro-title h2 {
   font-size: 50px;
   font-weight: 400;
}

.professional-intro-text {
   margin: 65px 0 0 0;
}
