.personnal-intro {
   margin: 70px 0 0 0;
}

.name-container {
   position: relative;
   top: 35px;
   left: 140px;
   display: flex;
   width: 45%;
}

.name {
   position: relative;
   top: 20px;
   right: 15px;
   font-family: var(--secondary-font-family);
   font-size: 19px;
   white-space: nowrap;
}

.avatar-and-text-container {
   display: flex;
}

.avatar-and-shadow {
   display: flex;
   justify-content: center;
   align-items: center;
}

.avatar-and-text-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 1.3;
}

.intro-titles {
   font-size: 50px;
   font-weight: 400;
}

.professional-intro {
   margin-top: 90px;
   font-size: 22px;
}

.intro-tags {
   line-height: 1.6;
}

.professional-intro-text {
   margin: 65px 0 0 0;
   line-height: 1.8;
}

.projects-section {
   margin-top: 200px;
}

.all-projects {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 200px;
   margin-top: 150px;
}

.work-experience-section {
   margin-top: 280px;
}

.skills-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 200px;
}
