.text-card-container {
   width: 585px;
   padding: 25px 35px;
   background: #ffffff12;
   backdrop-filter: blur(25px);
   border-radius: 15px;
}

/* Card identique a la maquette, peut etre revoir le background blur  */
