:root {
   --primary-bg-color: #11071f;
   --secondary-bg-color: #1a0b2e;
   --first-font-family: "Poppins", sans-serif;
   --first-body-color: #ffffff;
   --secondary-body-color: #9857d3;
   --border-color: #693b93;
   --btn-bg-color: 144, 27, 253;
}

body {
   max-width: 1225px;
   margin: 0 auto;
   padding: 0 45px;
   font-family: var(--first-font-family);
   font-size: 1.12rem;
   color: var(--first-body-color);
   background-color: var(--primary-bg-color);
   overflow-x: hidden;
}

a {
   cursor: pointer;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

.span-color {
   color: var(--secondary-body-color);
}

.little-lines {
   font-size: 0.68rem;
}

.section-titles {
   font-size: 2.5rem;
   font-weight: 700;
}

/******     MEDIA QUERIES     ******/

@media (width <= 1024px) {
   .section-titles {
      font-size: 2.3rem;
   }
}

@media (width <= 768px) {
   body {
      padding: 0 20px;
      font-size: 1rem;
   }

   .little-lines {
      font-size: 0.6rem;
   }

   .section-titles {
      font-size: 1.6rem;
      text-align: center;
   }
}

/*****     ANIMATIONS     *****/

/* @keyframes appear-from-bottom {
   from {
      transform: scale(0);
      opacity: 0;
   }
   to {
      transform: scale(1);
      opacity: 1;
   }
} */
