:root {
   --primary-bg-color: #11071f;
   --secondary-bg-color: #1a0b2e;
   --first-font-family: "Poppins", sans-serif;
   --secondary-font-family: "Plus Jakarta Sans", sans-serif;
   --first-body-color: #ffffff;
   --secondary-body-color: #9857d3;
   --border-color: #693b93;
   --btn-bg-color: 144, 27, 253;
}

body {
   margin: 0;
   padding: 0;
   font-family: var(--first-font-family);
   font-size: 1.12rem;
   color: var(--first-body-color);
   background-color: var(--primary-bg-color);
   overflow-x: hidden;
}

main {
   max-width: 1225px;
   margin: 0 auto;
   padding: 0 45px;
}

a {
   cursor: pointer;
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

.span-color {
   color: var(--secondary-body-color);
}

.little-lines {
   font-size: 0.68rem;
}

.section-titles {
   font-family: var(--secondary-font-family);
   font-size: 2.5rem;
   font-weight: 500;
}

/******     MEDIA QUERIES     ******/

@media (width <= 1024px) {
   .section-titles {
      font-size: 2.3rem;
   }
}
