:root {
   --primary-bg-color: #11071f;
   --secondary-bg-color: #1a0b2e;
   --first-font-family: "Poppins", sans-serif;
   --secondary-font-family: "Plus Jakarta Sans", sans-serif;
   --first-body-color: #ccd6f6;
   --secondary-body-color: #9857d3;
}

body {
   margin: 0;
   padding: 0;
   font-family: var(--first-font-family);
   font-size: 18px;
   color: var(--first-body-color);
   background-color: var(--primary-bg-color);
}

main {
   max-width: 1225px;
   margin: 0 auto;
   padding: 0 45px;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

.span-color {
   color: var(--secondary-body-color);
}
