.image-card-container {
   display: flex;
   justify-content: end;
   align-items: flex-end;
   width: 565px;
   height: 330px;
   background-color: #2b0b3a;
   border-radius: 10px;
}

.image-card-container img {
   width: 92%;
   height: 91%;
   object-fit: cover;
   border-radius: 15px 0 10px 0;
}
