.image-card-container {
   display: flex;
   justify-content: end;
   align-items: flex-end;
   width: 565px;
   height: 330px;
   background-color: #2b0b3a;
   border-radius: 10px;
}

.image-card-container img {
   width: 92%;
   height: 91%;
   border-radius: 15px 0 10px 0;
}

/* style a ajouter pour pouvoir reverse sur le projet paire  */

/* .image-card-container {
   justify-content: start;
} */

/* .image-card-container img {
   border-radius: 0 15px 0 10px;
} */
