.image-card-container {
   display: flex;
   justify-content: end;
   align-items: flex-end;
   width: 565px;
   height: 330px;
   background-color: #693b9329;
   border-radius: 10px;
}

.image-card-container img {
   width: 92%;
   height: 91%;
   object-fit: cover;
   border-radius: 15px 0 10px 0;
}

/******     MEDIA QUERIES     ******/

@media (width <= 768px) {
   .image-card-container {
      width: 100%;
      height: 200px;
   }
}
